.line {
  width: 100%;
  height: 1px;
  background-color: #2e405a;
  margin-bottom: 16px;
  }
  
.info {
  display: flex;
  align-items: center;
  }
  
.photo {
  width: 33px;
  border: 1px solid white;
  border-radius: 50%;
  }
  
.author-paragraph {
  color: hsl(215, 51%, 70%);
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 16px;
  }

.author-name {
  color: white;
  margin-left: 5px;
  cursor: pointer;
  }
  
.author-name:hover {
  color: #00fff8;
  }